node_modules
packages
vendor
bootstrap/cache/*
public/storage
.bash_aliases
.editorconfig
.env
.gitattributes
.gitignore
composer-dev
composer.dev.json
composer.dev.lock
docker-compose.dev.yml
docker-compose.yml
editor.config.js
phpunit.xml
README.md
rundev
rundev-reverb
