/.phpunit.cache
/database/migrations/*mixpost*.php
/node_modules
/public/build
/public/hot
/public/storage
/public/vendor
/storage/*.key
/storage/pail
/vendor
/packages
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/storage/mixpost-media
.DS_Store
docker-compose.yml
composer.dev.lock


